.container {
	width: 130rpx;
    overflow: auto;
}

.list_item {
	display: flex;
	justify-content: center;
	height: 110rpx;
}

.padding_40 {
	padding-left: 40rpx;
}

.padding_80 {
	padding-left: 80rpx;
}

.bold {
	font-weight: 500;
}