.container {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    display: flex;
    flex-direction: row;
    // background-color: #F8F8F8;
}

.main_area_container {
    width: 20rpx;
    flex-grow: 1;
}

.main_area {
    box-sizing: border-box;
    padding: 40rpx;
    width: 100%;
    display: flex;
    flex-direction: column;
    // overflow: auto;
}

.props_area {
    border-radius: 10rpx;
    border: 2rpx solid #dddddd;
    margin-bottom: 20rpx;
    display: flex;
    flex-direction: column;
}

.props_item {
    display: flex;
    flex-direction: column;
}

.props_row {
    display: flex;
    flex-direction: row;
}

.props_head {
    width: 20rpx;
    flex-grow: 1;
    padding: 20rpx 0rpx 20rpx 20rpx;
    font-weight: bold;
}

.props_head_last {
    width: 20rpx;
    flex-grow: 1;
    width: 20rpx;
    flex-grow: 1;
    padding: 20rpx;
    font-weight: bold;
}

.props_head_bottom {
    padding: 0rpx 20rpx 20rpx 20rpx;
    font-weight: bold;
}

.props_prop {
    width: 20rpx;
    flex-grow: 1;
    padding: 20rpx 0rpx 20rpx 20rpx;
    font-size: 28rpx;
}

.props_prop_last {
    width: 20rpx;
    flex-grow: 1;
    width: 20rpx;
    flex-grow: 1;
    padding: 20rpx;
    font-size: 28rpx;
}

.props_prop_bottom {
    padding: 0rpx 20rpx 20rpx 20rpx;
    font-size: 28rpx;
}

.code_container {
    background-color: black;
    border-radius: 10rpx;
}

.code_area {
    padding: 20rpx;
    display: flex;
    flex-direction: column;
}

.code_text {
    color: white;
    white-space: nowrap;
}

.component_item {
    margin-right: 20rpx!important;
    margin-bottom: 20rpx!important;
}

.spacing {
    margin-bottom: 60rpx;
}

.spacing_big {
    margin-bottom: 100rpx;
}